* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0 auto;
    width: 720px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    height: 343px;
    background-image: url('img/torshov.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFF;
    font-weight: 600;
}

#heading-title {
    background: #1D3557;
    padding: .2em .5em;
    border-radius: 8px;
}

#heading-text {
    width: 412px; 
    text-align: center;
    background: #457B9D;
    padding: .2em 1em;
    border-radius: 8px;
}

#activities-section {
    background: #F1FAEE;
    width: 100%;
    height: 378px;
    color: #1D3557;
}

#activities-title-text {
    text-align: center;
    padding: 1em 0;
    margin-bottom: .9em;
}

#activities-list-container {
    display: flex;
    align-items: center;
}

.single-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3em;
    margin: 0 auto;
    width: 200px;
    text-align: center;
}

.single-activity > h3{
    margin: .5em 0;
    font-size: 1rem;
}

.single-activity > p{
    font-size: .9rem;
}

.activity-photo {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

#guide-section {
    width: 100%;
    height: 350px;
}

#guide-photo {
    width: 180px;
    height: 249px;
    border-radius: 8px;
}

#guide-card {
    background: #A8DADC;
    display: flex;
    margin: 2.5em 9.5em;
    padding: 1em .5em;
    gap: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 1px #1D3557;
}

#guide-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#motto {
    font-style: italic;
}

#guide-name {
    font-weight: 700;
}